<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styele.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styele.css"/>
        <title>The Tech Blog</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light nav-pills nav-justified">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                          {{#if logged_in}}
    <a  class="nav-link btn btn-success  "> Dashboard</a>
    {{else}}
      <a style="display: none;"></a>
    {{/if}}
                         
                        </li>
                        <li class="nav-item">
                          
    {{#if logged_in}}
    <a id="logout" class="nav-link btn btn-danger  " >Logout</a>
    {{else}}
    <a class="nav-link btn btn-primary" href="/login">Login</a>
    {{/if}}
                            
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <h1 class="text-center">The Tech Blog</h1>
                {{{ body }}}</div>

        </main>

        <footer></footer>
    </body>
</html>
<script src="/js/logout.js"></script>
